<ul>
    {{#sitting}}
    <li>{{#str}} sitting, report_grade, {{.}}{{/str}}</li>
    {{/sitting}}
    {{#externaldate}}
    <li>{{#str}} externaldate, report_grade, {{.}}{{/str}}</li>
    {{/externaldate}}
</ul>